.content_body{
    /* background-color:rgb(241,248,254); */
    /* height: 950px; */
    border-radius: 5px;
    border: 1px solid rgb(237,237,237);
    background-color: white;
    box-shadow: 2px 2px 10px gray;
}
.content_title{
    height:110px;
    background-color: rgb(116,204,145);
    color:white;
    font-size: 3em;
    font-weight:bold;
    text-align: center;
    padding-top:40px;
    border-radius: 5px;
}
